{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "printWidth": 1000,
  "proseWrap": "preserve"
}
