* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgba(255, 255, 255, 0.9);
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to bottom, #000000, #000000, #10090d, #181118, #1b1823, #191f2f, #191f2f);;
  position: relative;
  text-align: center;
  margin: 0;
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: auto;
}

.stack span {
  color: white;
  font-weight: 600;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 4rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  };
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%, 100% {  text-shadow: none; transform: none; }
}

.t2 {
  text-align: center;
  margin: 12vh 0 10vh 0;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  left: 20%;
  right: 20%;
  top: 2rem;
  width: 60%;
  height: 5rem;
  box-shadow: 0px 0px 15px #101010;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 2;
  border-radius: 30px;
}

#menu img {
  width: 40px;
}

#menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  column-gap: 4vw;
  justify-content: center;
}

#menu a {
  text-decoration: none;
  transition: .5s;
}

#menu a:hover {
  color: rgb(210, 136, 0);
  transition: .5s;
}

#linkedin-avatar {
  margin-top: 10rem;
}

#main-img {
  background-image: url(./img/code-wp.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  margin-bottom: -15rem;
}

#about {
  padding-top: 7rem;
}

.color-mask {
  font-weight: 600;
  background-image: linear-gradient(to bottom, #ffd48d, #facb7f, #f4c272, #efba65, #e9b157, #e4aa4d, #dea344, #d99c3a, #d39531, #ce8e28, #c8871e, #c28012);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.t3 {
  font-weight: 100;
}

.prof-description {
  width: 60%;
  margin: auto;
  text-align: justify !important;
}

.prof-description a {
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #ffd48d, #facb7f, #f4c272, #efba65, #e9b157, #e4aa4d, #dea344, #d99c3a, #d39531, #ce8e28, #c8871e, #c28012);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prof-description a:hover {
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #ffac22, #f5a31c, #ea9a17, #e09110, #d68809, #cb8106, #c17903, #b67200, #a96a00, #9d6200, #905b00, #845300);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#skills {
  margin: 0 auto 0 auto;
  width: 100%;
}

.skills-table {
  overflow-x: auto;
}

#skills table {
  margin: auto;
  color: rgb(230, 230, 230);
}

#skills table tbody tr td {
  padding: 0 3rem 0 3rem;
}

.table-tech-div {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.table-tech-div i {
  width: 2rem;
  font-size: 2rem;
}

.table-tech-div p {
  margin: 0;
}

.tech-img {
  height: 20vw;
  margin-bottom: 2vh;
  transition: all 0.5s;
}

.tech-img:hover {
  transform: scale(1.1);
}

#certs {
  width: 95%;
  margin: auto;
}

.certs-exp-div {
  width: 100%;
  margin: 12vh 0 10vh 0;
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  justify-content: center;
}

.vertical-gap {
  width: 2px;
  height: auto;
  background-image: linear-gradient(to bottom, #ffd48d, #facb7f, #f4c272, #efba65, #e9b157, #e4aa4d, #dea344, #d99c3a, #d39531, #ce8e28, #c8871e, #c28012);
}

.certs-div, .exp-div {
  width: 45%;
}

@keyframes socials {
  0% {
    transform: rotate(0deg);
  }
  14% {
    transform: rotate(-35deg);
  }
  28% {
    transform: rotate(35deg);
  }
  42% {
    transform: rotate(-35deg);
  }
  56% {
    transform: rotate(35deg);
  }
  70% {
    transform: rotate(-35deg);
  }
  84% {
    transform: rotate(35deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.social-media-icon:hover {
  animation-name: socials;
  animation-duration: 2s;
}

#works {
  height: auto;
}

.end-line {
  height: 2px;
  width: 90%;
  margin: auto;
  background-image: radial-gradient(circle, #435a97, #3f558d, #3c4f83, #384a7a, #354570, #314067, #2e3b5e, #2a3655, #26304b, #212a42, #1d2538, #191f2f);
}

footer {
  margin: 5vh 0vw 3vh 0vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-div {
  width: 30vw;
}

.footer-credits {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.footer-credits img {
  width: 50px;
}

.footer-credits-p {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.footer-credits-p p {
  margin: 0;
  color: rgba(255, 255, 255, 0.9)
}

.footer-credits-p a:hover {
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #ffac22, #f5a31c, #ea9a17, #e09110, #d68809, #cb8106, #c17903, #b67200, #a96a00, #9d6200, #905b00, #845300);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.neon-cat {
  width: 50%;
}

.footer-social-media {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}

.footer-social-media p {
  margin: 0;
}

.footer-social-media-icons {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.social-icon i {
  transition: .5s;
}

.social-icon i:hover {
  transition: .5s;
  color: #d28800;
}

#contact {
    margin: 0 auto 10vh auto ;
    text-align: start;
}

.contact-div {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
  justify-content: center;
}

.contact-subdiv {
  width: 40%;
}

.input-v1 {
    margin-bottom: 2vh;
}

.input-v1 input {
    width: 95%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid whitesmoke;
    margin-top: 1vh;
    padding-left: 1vw;
}

.input-v1 input:focus, .input-textarea textarea:focus {
  outline: none;
}

.input-textarea {
    margin-bottom: 2vh;
}

.input-textarea textarea {
    width: 95%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid whitesmoke;
    margin-top: 1vh;
    padding-left: 1rem;
}

.input-radio {
    margin-bottom: 2vh;
}

.input-radio p{
    padding-left: 3vw;
    margin: 1vh;
}

.submit-cont {
    display: flex;
    justify-content: center;
}

#submit-btn {
    width: 30%;
    height: 40px;
    background-color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: .5s;
}

#submit-btn:hover {
  color: rgb(210, 136, 0);
  transition: .5s;
}

.personal-quote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.personal-quote i {
  font-size: 8rem;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #ffac22, #f5a31c, #ea9a17, #e09110, #d68809, #cb8106, #c17903, #b67200, #a96a00, #9d6200, #905b00, #845300);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.personal-quote p {
  text-align: justify;
}

.personal-quote span {
  font-style: italic; 
  text-align: end; margin: 0; 
  width: 100%; 
  display: flex;
  justify-content: end;
}