* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgba(255, 255, 255, 0.9);
  scroll-behavior: smooth;
}

*::selection {
  color: whitesmoke;
  background-color: #8d6019;
}

body {
  background-image: linear-gradient(to bottom, #000000, #000000, #10090d, #181118, #1b1823, #191f2f, #191f2f);;
  position: relative;
  text-align: center;
  margin: 0;
}

/* CARROUSEL INFINITO */

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

.lang-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  color: white;
  position: fixed;
  z-index: 2;
  bottom: 20px;
  right: 30px;
}

.lang-btn img {
  width: 2rem;
  height: 1.3rem;
  filter: grayscale(100%);
  transition: .5s;
}

.lang-btn img:hover {
  filter: grayscale(0%);
  transition: .5s;
}


.slider {
  background: transparent;
  /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);*/
  height: 100px;
  margin: 12vh auto 0 auto;
  overflow: hidden;
  position: relative;
  width: 80%;
}
.slider::before, .slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 50px;
  width: 250px;
}

/* .slide img{
  
} */

/* FIN CARROUSEL INFINITO */

.stack {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 0 auto 0 auto;
}

.stack span {
  color: white;
  font-weight: 600;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 6vw;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }

.stack-small {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 0 auto 0 auto;
}

.stack-small span{
  color: white;
  font-weight: 600;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 2vw;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
  };
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
  }
  4%, 100% {  text-shadow: none; transform: none; }
}

.t2 {
  text-align: center;
  margin: 12vh 0 10vh 0;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  left: 20%;
  right: 20%;
  top: 2rem;
  width: 60%;
  height: 5rem;
  box-shadow: 0px 0px 15px #101010;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 2;
  border-radius: 30px;
}

#menu img {
  width: 2.5rem;
}

#menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  column-gap: 4vw;
  justify-content: center;
}

#menu a {
  text-decoration: none;
  transition: .5s;
}

#menu a:hover {
  color: rgb(210, 136, 0);
  transition: .5s;
}

#linkedin-avatar {
  margin-top: 10rem;
}

.main-head {
  height: 30vh;
  padding-top: 10vw;
  display: flex;
  flex-direction: row;
  column-gap: 5vw;
  justify-content: center;
}

.main-head-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
}

#main-img {
  background-image: url(./img/code-wp.png);
  background-size: 180%;
  background-position: center;
  width: 40vw;
}

.color-mask {
  font-weight: 600;
  background-image: linear-gradient(to bottom, #ffd48d, #facb7f, #f4c272, #efba65, #e9b157, #e4aa4d, #dea344, #d99c3a, #d39531, #ce8e28, #c8871e, #c28012);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mern-title {
  text-align: end;
}

.t3 {
  font-weight: 100;
}

.prof-description {
  width: 60%;
  margin: 10vh auto 0 auto;
  text-align: center;
}

.prof-description a {
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #ffd48d, #facb7f, #f4c272, #efba65, #e9b157, #e4aa4d, #dea344, #d99c3a, #d39531, #ce8e28, #c8871e, #c28012);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prof-description a:hover {
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #ffac22, #f5a31c, #ea9a17, #e09110, #d68809, #cb8106, #c17903, #b67200, #a96a00, #9d6200, #905b00, #845300);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-matrix {
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(180deg,rgba(16, 64, 15, 1) 0%, rgba(33, 143, 27, 1) 50%, rgba(55, 230, 46, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#skills {
  margin: 0 auto 0 auto;
  width: 100%;
}

.skills-table {
  overflow-x: auto;
}

#skills table {
  margin: auto;
  color: rgb(230, 230, 230);
}

#skills table tbody tr td {
  padding: 0 3rem 0 3rem;
}

.table-tech-div {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.table-tech-div i {
  width: 2rem;
  font-size: 2rem;
}

.table-tech-div p {
  margin: 0;
}

.tech-img {
  height: 20vw;
  margin-bottom: 2vh;
  transition: all 0.5s;
}

.tech-img:hover {
  transform: scale(1.1);
}

#certs {
  width: 95%;
  margin: auto;
}

.certs-exp-div {
  width: 100%;
  margin: 12vh 0 10vh 0;
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  justify-content: center;
}

.vertical-gap {
  width: 2px;
  height: auto;
  background-image: linear-gradient(to bottom, #120b10, #3b222b, #69383e, #975249, #bf734c, #c2734e, #c47251, #c77253, #a05355, #713c4d, #41283a, #1a151e);
}

.certs-div, .exp-div {
  width: 45%;
}

#certs {
  text-align: start;
}

.container {
  width: 1200px !important;
  padding: 0 !important;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 992px) and (max-width: 1439px) {
    max-width: 1279px !important;
    padding: 0 !important;
    margin: 0 80px !important;
    width: auto !important;
  }

  @media screen and (max-width: 991px) {
    max-width: 959px !important;
    margin: 0 16px !important;
    padding: 0 !important;
    width: auto !important;
  }
}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  padding: 30px;
  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
  }
}

.cert-subdiv {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 0rem 0 2rem 0;
  border: 0;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
  transition: .5s;
}

.container-card:hover {
  box-shadow: 0px 0px 15px #101010;
  transition: .5s;
}

.container-card-award {
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  align-items: center;
}

.container-card-img {
  width: 20%;
}

.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
  position: relative;
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-green-box::after {
  background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bg-white-box::after {
  background: linear-gradient(71deg, #121013, #333333, #121013);
}

.bg-yellow-box::after {
  background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue-box::after {
  background: linear-gradient(71deg, #0c0a0e, #002cdd, #0c0a0e);
}

.card-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  margin: 1rem 0 1rem 0;
}

.card-description {
  line-height: 20px;
  color: hsla(0, 0%, 100%, 0.5);
  text-align: justify;
  margin: 0;
}

.exp-subdiv {
  margin-bottom: 10vh;
}

.exp-subdiv-ap h4 {
  margin-bottom: 0;
}

.exp-subdiv-ap-display {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.exp-subdiv-ap-display ul {
  text-align: justify;
}

.exp-subdiv-ap-display i {
  font-size: 4rem;
  margin: auto;
}

.exp-subdiv-ap-display ul p {
  margin: 0;
}

.exp-subdiv-ap-display ul i {
  font-size: 2rem;
  margin-right: 1rem;
}

.exp-subdiv-ap-display-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#works {
  height: auto;
}

.work-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2vw;
  row-gap: 3vh;
  justify-content: center;
}

.work-div-card {
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to right bottom, #1b1721, #1b1823, #1b1925, #1b1a27, #1b1b29, #1b1b29, #1b1b29, #1b1b29, #1b1a27, #1b1925, #1b1823, #1b1721);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 30px;
  box-shadow: 0px 0px 5px #101010;
  transition: 1s;
  padding: 1rem;
  width: 25%;
}

.work-div-card-startup {
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to right bottom, #2c1f00, #312301, #362701, #3c2b01, #412f01, #463401, #4c3901, #513e01, #574501, #5d4c01, #635300, #695b00);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 30px;
  box-shadow: 0px 0px 5px #101010;
  transition: 1s;
  padding: 1rem;
  width: 30%;
}

.glow-card {
  position: relative;
  background-color: #1c1c1c;
  color: rgba(255, 255, 255, 0.5);
  padding: 2rem;
  border-radius: 1rem;
  z-index: 1;
  overflow: hidden;
}

.glow-card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 215, 0, 0.6) 0%, transparent 60%);
  animation: fireGlow 6s infinite linear;
  z-index: -1;
  filter: blur(40px);
}

@keyframes fireGlow {
  0% {
    transform: translate(-100%, -100%) scale(.7);
    opacity: 0.3;
  }
  25% {
    transform: translate(-50%, -50%) scale(.9);
    opacity: 0.3;
  }
  50% {
    transform: translate(0%, 0%) scale(1.1);
    opacity: 0.3;
  }
  75% {
    transform: translate(50%, 50%) scale(.9);
    opacity: 0.3;
  }
  100% {
    transform: translate(100%, 100%) scale(.7);
    opacity: 0.3;
  }
}

.startup-logo{
  width: 50%;
}

.background-i {
  position: absolute;
  z-index: -1;
  top: -10%;
  left: 5%;
  font-size: 15rem;
  transform: rotate(23deg);
  color: rgba(0, 0, 0, 0.3);
}

.work-div-card:hover {
  box-shadow: 0px 0px 15px #101010;
  transition: 1s;
}

.work-div-card-i {
  font-size: 2rem;
  margin-top: 2vh;
  letter-spacing: .1rem;
}

.work-div-card-i a:hover {
  background-image: linear-gradient(to bottom, #ffac22, #f5a31c, #ea9a17, #e09110, #d68809, #cb8106, #c17903, #b67200, #a96a00, #9d6200, #905b00, #845300);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.end-line {
  height: 2px;
  width: 90%;
  margin: auto;
  background-image: radial-gradient(circle, #435a97, #3f558d, #3c4f83, #384a7a, #354570, #314067, #2e3b5e, #2a3655, #26304b, #212a42, #1d2538, #191f2f);
}

footer {
  margin: 5vh 1vw 3vh 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-div {
  width: 30vw;
}

.footer-credits {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.footer-credits img {
  width: 50px;
}

.footer-credits-p {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.footer-credits-p p {
  margin: 0;
  color: rgba(255, 255, 255, 0.9)
}

.footer-credits-p a:hover {
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #ffac22, #f5a31c, #ea9a17, #e09110, #d68809, #cb8106, #c17903, #b67200, #a96a00, #9d6200, #905b00, #845300);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.neon-cat {
  width: 50%;
}

.footer-social-media {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}

.footer-social-media p {
  margin: 0;
}

.footer-social-media-icons {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.social-icon i {
  transition: .5s;
}

.social-icon i:hover {
  transition: .5s;
  color: #d28800;
}

#contact {
    margin: 0 auto 10vh auto ;
    text-align: start;
}

.contact-div {
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
  justify-content: center;
}

.contact-subdiv {
  width: 40%;
}

.input-v1 {
    margin-bottom: 2vh;
}

.input-v1 input {
    width: 95%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid whitesmoke;
    margin-top: 1vh;
    padding-left: 1vw;
}

.input-v1 input:focus, .input-textarea textarea:focus {
  outline: none;
}

.input-textarea {
    margin-bottom: 2vh;
}

.input-textarea textarea {
    width: 95%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid whitesmoke;
    margin-top: 1vh;
    padding-left: 1rem;
}

.input-radio {
    margin-bottom: 2vh;
}

.input-radio p{
    padding-left: 3vw;
    margin: 1vh;
}

.submit-cont {
    display: flex;
    justify-content: center;
}

#submit-btn {
    width: 30%;
    height: 40px;
    background-color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: .5s;
}

#submit-btn:hover {
  color: rgb(210, 136, 0);
  transition: .5s;
}

.personal-quote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.personal-quote i {
  font-size: 8rem;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #ffac22, #f5a31c, #ea9a17, #e09110, #d68809, #cb8106, #c17903, #b67200, #a96a00, #9d6200, #905b00, #845300);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.personal-quote p {
  text-align: justify;
}

.personal-quote span {
  font-style: italic; 
  text-align: end; margin: 0; 
  width: 100%; 
  display: flex;
  justify-content: end;
}

.flex-description {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 1024px) {

  #menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: 10%;
    right: 10%;
    top: 2rem;
    width: 80%;
    height: 5rem;
    box-shadow: 0px 0px 15px #101010;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 2;
    border-radius: 30px;
  }

  #about {
    margin-top: -10vh;
  }

  .stack-small {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin: 0 auto 0 auto;
}

.stack-small span{
  color: white;
  font-weight: 600;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 4vw;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

  .main-head {
    padding-top: 20vw;
  }

  .main-head-div {
    width: 40vw;
  }

  .prof-description {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .certs-exp-div {
    width: 100%;
    margin: 6vh 0 6vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .certs-div, .exp-div {
    width: 90%;
  }

  .exp-subdiv {
    margin-bottom: 5vh;
  }

  .vertical-gap {
    width: 90vw;
    height: 2px;
    background-image: linear-gradient(to right, #120b10, #3b222b, #69383e, #975249, #bf734c, #c2734e, #c47251, #c77253, #a05355, #713c4d, #41283a, #1a151e);
  }

  .work-div-card {
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to right bottom, #1b1721, #1b1823, #1b1925, #1b1a27, #1b1b29, #1b1b29, #1b1b29, #1b1b29, #1b1a27, #1b1925, #1b1823, #1b1721);
    border-radius: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    box-shadow: 0px 0px 5px #101010;
    transition: 1s;
    padding: 1rem;
    width: 40%;
  }

  .t2 {
    text-align: center;
    margin: 6vh 0 6vh 0;
  }

  #contact {
    margin: 0 auto 8vh auto ;
    text-align: start;
  }

  .contact-div {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    justify-content: center;
    align-items: center;
  }

  .contact-subdiv {
    width: 80%;
  }

  .work-div-card-startup {
    width: 50%;
  }
}

@media (max-width: 768px) {

  .work-div-card-startup {
    width: 75%;
  }

  #main-img {
    background-image: url(./img/code-wp.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    display: none;
  }

  .mern-title {
    font-size: 5vw;
  }

  .main-head {
    height: auto;
    padding-top: 18vh;
  }

  .main-head-div {
    width: 80%;
  }

  .mern-title {
    text-align: center;
  }

  .main-head-div {
    margin: 2vh ;
  }

  .main-head-div h1 span {
    font-size: 12vw;
  }

  #about {
    margin-top: -10vh;
  }

  #menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0rem;
    width: 100%;
    height: 5rem;
    box-shadow: 0px 0px 15px #101010;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 2;
    border-radius: 0px;
  }

  #menu a {
    font-size: small;
  }

  #menu img {
    width: 2rem;
  }

  .prof-description {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .certs-exp-div {
    width: 100%;
    margin: 6vh 0 6vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .certs-div, .exp-div {
    width: 90%;
  }

  .exp-subdiv {
    margin-bottom: 5vh;
  }

  .vertical-gap {
    width: 90vw;
    height: 2px;
    background-image: linear-gradient(to right, #120b10, #3b222b, #69383e, #975249, #bf734c, #c2734e, #c47251, #c77253, #a05355, #713c4d, #41283a, #1a151e);
  }

  .work-div-card {
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to right bottom, #1b1721, #1b1823, #1b1925, #1b1a27, #1b1b29, #1b1b29, #1b1b29, #1b1b29, #1b1a27, #1b1925, #1b1823, #1b1721);
    border-radius: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    box-shadow: 0px 0px 5px #101010;
    transition: 1s;
    padding: 1rem;
    width: 80%;
  }

  .t2 {
    text-align: center;
    margin: 6vh 0 6vh 0;
  }

  #contact {
    margin: 0 auto 8vh auto ;
    text-align: start;
  }

  .contact-div {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    justify-content: center;
    align-items: center;
  }

  .contact-subdiv {
    width: 80%;
  }

  footer {
    margin: 5vh 1vw 3vh 1vw;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10vw;
    justify-content: center;
    align-items: center;
  }

  .footer-div {
    width: 80vw;
  }
}


@media (max-width: 425px) {

  #main-img {
    background-image: url(./img/code-wp.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
  }

  #about {
    margin-top: -10vh;
  }

  #menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0rem;
    width: 100%;
    height: 5rem;
    box-shadow: 0px 0px 15px #101010;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 2;
    border-radius: 0px;
  }

  #menu a {
    font-size: small;
  }

  #menu img {
    width: 2rem;
  }

  #menu a[href="#"] {
    display: none;
  }

  .prof-description {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  .certs-exp-div {
    width: 100%;
    margin: 6vh 0 6vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .certs-div, .exp-div {
    width: 90%;
  }

  .exp-subdiv {
    margin-bottom: 5vh;
  }

  .exp-subdiv-ap-display {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  .exp-subdiv-ap-display ul {
    margin: 0;
  }

  .exp-subdiv-ap h4 {
    margin-top: 4rem;
  }

  .vertical-gap {
    width: 90vw;
    height: 2px;
    background-image: linear-gradient(to right, #120b10, #3b222b, #69383e, #975249, #bf734c, #c2734e, #c47251, #c77253, #a05355, #713c4d, #41283a, #1a151e);
  }

  .work-div-card {
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to right bottom, #1b1721, #1b1823, #1b1925, #1b1a27, #1b1b29, #1b1b29, #1b1b29, #1b1b29, #1b1a27, #1b1925, #1b1823, #1b1721);
    border-radius: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    box-shadow: 0px 0px 5px #101010;
    transition: 1s;
    padding: 1rem;
    width: 80%;
  }

  .t2 {
    text-align: center;
    margin: 6vh 0 6vh 0;
  }

  #contact {
    margin: 0 auto 8vh auto ;
    text-align: start;
  }

  .contact-div {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    justify-content: center;
    align-items: center;
  }

  .contact-subdiv {
    width: 80%;
  }

  footer {
    margin: 5vh 1vw 3vh 1vw;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10vw;
    justify-content: center;
    align-items: center;
  }

  .footer-div {
    width: 80vw;
  }
}
